*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

h1{
  margin: 20px;
}

h2{
  text-align: center;
}

form{
  margin: 50px auto;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column; 
  width: 40vw;
  background-color: #777;
  padding: 20px;
  color: white;
}

form label {
  padding-bottom: 4px;
}

form input{
  border: none;
  background-color: #bbb;  
  margin-bottom: 8px;
}

form input::placeholder{
  color: red;
}

form select{
  font-family: 'Courier New', Courier, monospace;
  background-color: #bbb;  
}

form .submitBTN{
  width: 50%;
  margin: 20px auto 0;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY();
}

form .submitBTN:hover{
  background-color: #222;
}

table{  
  font-family: 'Courier New', Courier, monospace;
  margin: 20px auto 0;
  width: 40vw;
  display: flex;
  flex-direction: column; 
  background-color: #333;
  padding: 0 20px;
  
}

tr{
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  text-align: left;   
  width: 100%; 
  padding: 20px 0;
  border-bottom: solid white 2px;
  
}

tr:nth-last-child(1){
  margin-bottom: 20px;
  border-bottom: solid white 0px;
  padding-bottom: 0;
}

th, td{
  display: flex;
  justify-content: space-between;  
  background-color: #bbb;  
  margin: 2.5px 0;
  padding: 5px;
  border-radius: 5px;
}

td{
  background-color: #999;
}

@media (max-width: 950px) {
  table, form{
    width: 60vw;
  }  
}
@media (max-width: 650px) {
  table, form{
    width: 100vw;
  }  
}

@media (max-width: 450px) {
  th, td{
    display: flex;
    flex-direction: column;
  }

  span{
    text-align: right;
  }
}